
:root {
  --primary-color: #0d3b45;
  --secondary-color: #F7D8A0;
  --tertiary-color: #C7A254;
  --dark-color: #0a2930;
  --dark-blue: #003B51;
  --deep-blue: #031b24;
  --light-color: #f8f9fa;
  --font-primary: 'Cinema Sunday', serif;
  --font-secondary: 'Rubik', sans-serif;
  --font-tertiary: 'Gotam', sans-serif;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--primary-color);
  color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  text-transform: none;

}

.navbar {
  background-color: rgba(5, 39, 51, 0);
  padding: 10px 0 10px 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand img {
  height: 60px;
}

.nav-link {
  color: var(--light-color);
  margin: 0 10px;
  font-size: 16px;
  text-transform: none;
  /* letter-spacing: 1px; */
  position: relative;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  left: 0;
  bottom: -25px;
  transition: width 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link.active:after {
  width: 100%;
}

.navbar .fa-search {
  transition: color 0.3s ease;
}

.navbar .fa-search:hover {
  color: var(--secondary-color);
}


.heading-gold {
  color: var(--secondary-color)
}


.btn-gold {
  background-color: var(--light-color);
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 1px;
  transition: all 0.3s ease;
}

.btn-gold:hover {
  background-color: var(--secondary-color);
  color: var(--dark-blue);
}

.btn-outline-gold {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  text-decoration: none;
  border-radius: 0;
  padding: 8px 25px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-outline-gold:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}

.carousel-item {
    height: 100vh;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

/* Menu Modal Styles */
.menu-modal .modal-content {
    background-color: #0a2c38;
    color: white;
    border: none;
    border-radius: 0;
}

.menu-modal .modal-header {
    border-bottom: 1px solid var(--secondary-color);
    padding: 25px;
}

.menu-modal .modal-title {
    color: var(--light-color);
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    font-family: 'Georgia', serif;
}

.menu-modal .modal-body {
    padding: 20px;
}

.menu-modal .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    z-index: 1;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section-title {
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}

.menu-section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: var(--secondary-color);
}

.menu-item {
    margin-bottom: 30px;
    padding: 20px 15px;
    border-bottom: 1px dotted rgba(212, 175, 55, 0.3);
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.menu-item-name {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.menu-item-price {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.menu-item-description {
    color: #ccc;
    font-style: italic;
    font-size: 0.9rem;
}

.menu-badge {
    background-color: var(--tertiary-color);
    color: white;
    font-size: 0.7rem;
    padding: 2px 8px;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.modal-backdrop {
    background-color: #000;
}

.modal-backdrop.show {
    opacity: 0.8;
}

.fade-scale {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.fade-scale.show {
    transform: scale(1);
    opacity: 1;
}

.modal-dialog {
    max-width: 800px;
}

.menu-icon {
    margin-right: 5px;
    color: var(--secondary-color);
}

.divider {
  text-align: center;
  margin: 0;
  background-color: transparent;
  position: relative;
}

.divider img {
  height: 40px;
}

.butterfly-icon {
  position: absolute; 
  top: -20px; 
  z-index: 999;
}

.gallery-section {
  background-color: var(--dark-blue);
}


.gallery-filters {
  background-color: var(--dark-blue);
  padding: 50px 0 30px 0;
}

.filter-btn {
  color: #ffffff8c;
  margin: 0 10px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
  transition: color 0.3s;
}

.filter-btn:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}

.filter-btn.active {
  color: var(--light-color);
}

.filter-btn:hover:after,
.filter-btn.active:after {
  width: 100%;
}

.filter-btn:hover {
  color: var(--light-color);
}



.feature-item {
  position: relative;
  overflow: hidden;
  border: solid .2px #eefffb00;
}

.feature-item image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.5s;
  display: block;
}

.feature-item:hover image {
  transform: scale(1.05);
}

  /* Menu section styles */
    .menu-section {
      margin-bottom: 40px;
      padding-top: 30px;
      position: relative;
    }
    
    .menu-section:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10%;
      right: 10%;
      height: 1px;
    }
    
    .menu-section-title {
      font-family: 'Cinema Sunday', serif;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px;
      color: var(--secondary-color);
      position: relative;
    }
    
    .menu2-item {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 2px 10px rgba(0,0,0,0.05);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .menu2-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      border: none;
      background-color: var(--dark-color);
    }
    
    .menu2-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
    }
    
    .menu2-item-name {
      color: #fff;
      font-weight: 600;
      font-size: 1.1rem;
    }
    
    .men2-item-price {
      color: #F7D8A0;
      font-weight: 700;
    }
    
    .menu2-item-description {
      color: #899BA2;
      font-size: 0.95rem;
    }

    
    /* Restaurant Menu Section */
    .restaurant-menu-section {
      background-color: var(--primary-color);
      padding: 50px 0;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
    }
    
    .menu-content {
      border-radius: 10px;
    }
    
    .menu-header {
      text-align: center;
      margin-bottom: 30px;
    }
    
    .menu-title {
      font-family: 'Playfair Display', serif;
      font-size: 2.5rem;
      color: var(--secondary-color);
      margin-bottom: 15px;
    }
    
    /* Responsive adjustments */
    @media (min-width: 768px) {
      .menu-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    }
.breakfast-menu-section {
  background: url('/assets/breakfast.png') no-repeat center center;
  background-size: cover;
  height: 70vh;
  padding: 100px 0;
}

.lunch-menu-section {
  background: url('/assets/lunch.png') no-repeat center center;
  background-size: cover;
  height: 70vh;
  padding: 100px 0;
}

.dinner-menu-section {
  background: url('/assets/dinner.png') no-repeat center center;
  background-size: cover;
  height: 70vh;
  padding: 100px 0;
}

.desserts-menu-section {
  background: url('/assets/desert.png') no-repeat center center;
  background-size: cover;
  height: 70vh;
  padding: 100px 0;
}

.drinks-menu-section {
  background: url('/assets/drinks.png') no-repeat center center;
  background-size: cover;
  height: 70vh;
  padding: 100px 0;
}

.welcome-section {
  background-color: var(--dark-color);
  padding: 60px 0;
}

.welcome-box {
  max-width: 600px;
  background-color: #00435c;
  text-align: center;
  padding: 4rem;
}

.welcome-text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #899BA2;
}

.welcome-text2 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  color: #899BA2;
}

.divider-img {
  max-width: 150px;
  height: auto;
  margin: 1rem auto;
  display: block;
}


.welcome-box h2 {
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.image-hover-zoom {
  overflow: hidden;
  display: block;
  position: relative;
}

.image-hover-zoom img {
  transition: transform 0.4s ease;
}

.image-hover-zoom:hover img {
  transform: scale(1.05); /* zoom in */
}

.feature-section {
  background-color: #00435c;
  padding: 60px 0;

}
.team-section {
  background-color: var(--dark-blue);
  padding: 60px 0;
}

.team-member-box {
  color: #899BA2;
  background-color: rgba(33, 37, 41, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(4px);
}

.team-member-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.social-icons a {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--secondary-color);
}

/* Testimonials Styles Start */


.testimonials {
      background-color: var(--dark-blue);
      padding: 80px 0;
      text-align: center;
    }

    .section-title h2 {
      font-family: var(--font-primary);
      color: var(--secondary-color);
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .divider-img {
      max-width: 150px;
      margin: 0 auto 40px;
      display: block;
    }

    .testimonial-wrapper {
      position: relative;
      margin-top: 40px;
    }

    .testimonial-slide {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .testimonial-slide.active {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      opacity: 1;
    }

    .testimonial-content-box {
      background-color: rgba(0, 42, 51, 0.8);
      padding: 30px 20px;
      border-radius: 5px;
      color: #fff;
      margin-bottom: 20px;
      width: calc(33.33% - 20px);
      position: relative;
    }

    .testimonial-content {
      position: relative;
      margin-bottom: 20px;
    }

    .testimonial-content::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid rgba(0, 42, 51, 0.8);
    }

    .testimonial-content p {
      font-size: 1.1rem;
      line-height: 1.7;
    }

    .testimonial-author {
      margin-top: 20px;
    }

    .testimonial-author img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .testimonial-author h4 {
      color: var(--secondary-color);
      font-size: 1.2rem;
      margin: 0;
    }

    .testimonial-author p {
      font-style: italic;
      font-size: 0.9rem;
      margin: 5px 0 0;
      color: #ccc;
    }

    .testimonial-dots {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 30px;
    }

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 5px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .dot.active {
      background-color: var(--secondary-color);
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }

    /* Responsive adjustments */
    @media (max-width: 992px) {
      .testimonial-content-box {
        width: calc(50% - 15px);
      }
    }

    @media (max-width: 768px) {
      .testimonial-content-box {
        width: 100%;
      }
    }

    /* Testimonials Styles End */


.testimonial-section {
  background-color: var(--dark-color);
  padding: 60px 0;
}

.testimonial-box {
  background-color: #fff;
  border-left: 4px solid var(--secondary-color);
}

/* Ensure the testimonials container has the proper overflow */
.testimonials-section {
    position: relative;
    overflow: hidden;
}

/* Add a sliding effect to the testimonials */
.testimonial-item {
    animation: slideEffect 30s infinite;
    opacity: 0;
    position: absolute;
    width: 100%;
}

/* Animation for sliding between testimonials */
@keyframes slideEffect {
    0% { opacity: 0; }
    10% { opacity: 1; }
    33% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

/* Adjust the indicator (ellipsis) */
.testimonial-indicator {
    font-size: 24px;
    color: var(--secondary-color);
    font-family: var(--font-tertiary);
}


.food-image {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.custom-scroll .modal-body {
    max-height: auto;
    overflow-y: auto;
    margin: 10px 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) #0d3b45;
  }
  
  /* For Webkit (Chrome, Safari) */
  .custom-scroll .modal-body::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scroll .modal-body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }
  
  .custom-scroll .modal-body::-webkit-scrollbar-track {
    background-color: transparent;
  }

.menu-section {
  background-color: var(--primary-color);
}

.our-menu-section {
  padding: 60px 20px;
  background-color: var(--primary-color);
}

.menu-box {
  background-color: rgba(10, 41, 48, 0.8);
  padding: 40px;
  border-radius: 5px;
  height: 100%;
  
}
.menu-card {
  background-color: rgba(10, 41, 48, 0.8);
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.menu-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.menu-categories {
  background-color: #00435c;
  padding: 40px 0;
}

.input-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.category-box {
  position: relative;
  height: 580px;
  overflow: hidden;
  margin-bottom: 30px;
}

.category-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.category-box:hover img {
  transform: scale(1.05);
}

.category-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 2rem;
}

.booking-section {
  background-color: var(--dark-color);
  padding: 60px 0;
}

.booking-form {
  /* background-color: rgba(10, 41, 48, 0.8); */
  padding: 30px;
  border-radius: 5px;
}

.booking-form .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(201, 168, 124, 0.3);
  color: white;
  border-radius: 0;
  padding: 12px;
}

.booking-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.chef-image {
  height: 100% !important;
  object-fit: cover;
  border-radius: 5px;
}

.video-section {
  padding: 60px 0;
  background-color: var(--primary-color);
}

.video-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn {
  width: 80px;
  height: 80px;
  background-color: rgba(201, 168, 124, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.play-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.events-section {
  background: url('/assets/Event-bg.png') no-repeat center center;
  background-size: cover;
  padding: 60px 0;
  background-color: #00435c;
}

.events-image {
  height: 680px;
  width: 540px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid var(--secondary-color);
  ;
}

.reservation-section {
  background: url('/assets/about/Reserve-banner.png') no-repeat center center;
  background-size: cover;
  height: 80vh;
  padding: 100px 0;
}

.social-gallery {
  background-color: #00435c;
  padding: 60px 0;
}

.gallery-item {
  margin-bottom: 30px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

.gallery-item:hover img {
  transform: scale(1.05);
}


.info-section {
    background-color: var(--primary-color);
    padding: 60px 0 20px 0;
}

.info-box {
    text-align: center;
    margin-bottom: 30px;
}

.info-box h5 {
    color: var(--light-color);
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.footer {
    background-color: var(--primary-color);
    padding: 50px 0 20px;
    text-align: center;
}

.footer-divider {
    margin-bottom: -40px;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-logo img {
    height: 60px;
}

.footer-text {
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 1.7;
    color: #adbbc1;
}

.footer-action {
    margin-bottom: 40px;
}

.footer-social {
    margin-top: 30px;
}

.social-icon {
    color: var(--light-color);
    font-size: 16px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--secondary-color);
}

.copyright {
    font-size: 12px;
    color: #687f88;
    margin-top: 20px;
}